<br/><br/><br/>
<div class="text-center" >
        
        <h2 class="text-secondary d-none d-lg-block">mct Venues</h3>
        <br/>
        <h1 class="text-secondary">Book a venue for your event</h2>
        <h4 class="text-secondary d-none d-lg-block">Find suitable spaces for all private and corporate events</h4>
        <br/>
        <div class=" col-lg-5 mx-auto d-none d-lg-block">
         <form class="form-inline">
           <div class="col-">
                   <select class="custom-select">
                          <option selected>event type</option>
                          <option>Confrence</option>
                          <option>Lunch / Dinner</option>
                          <option>Performance</option>
                          <option>Wedding</option>
                          <option>Party</option>
                          <option>Meeting</option>
                        </select>
           </div>
           <div class="col-">
                   <select class="custom-select">
                           <option selected>number of people</option>
                           <option>0-50</option>
                           <option>51-100</option>
                           <option>101-200</option>
                           <option>more than 200</option>
                         </select>
           </div>
           <div class="col-">
                   <select class="custom-select">
                          <option selected>location</option>
                          <option>Athiba</option>
                          <option>Seeb</option>
                          <option>Mawaleh</option>
                          <option>Alhail</option>
                        </select>
           </div>
           <div class="col-">
                   <button class="btn btn-light btn-block">search</button> 
           </div>
         </form>
        </div>
        <div class="form-horizontal d-lg-none .d-xl-block">
           <div class="col">
                   <select class="custom-select">
                          <option selected>event type</option>
                          <option>Confrence</option>
                          <option>Lunch / Dinner</option>
                          <option>Performance</option>
                          <option>Wedding</option>
                          <option>Party</option>
                          <option>Meeting</option>
                        </select></div>
           <div class="col">
                   <select class="custom-select">
                           <option selected>number of people</option>
                           <option>0-50</option>
                           <option>51-100</option>
                           <option>101-200</option>
                           <option>more than 200</option>
                         </select>
           </div>
           <div class="col">
                   <select class="custom-select">
                          <option selected>location</option>
                          <option>Athiba</option>
                          <option>Seeb</option>
                          <option>Mawaleh</option>
                          <option>Alhail</option>
                        </select>
           </div>
           <div class="col">
                   <button class="btn btn-light btn-block">search</button> 
           </div>
        </div>
        
</div>
